.history-list {
    margin-top: 1em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30em, 1fr));
    grid-gap: 1em;
}

.history-type {
    float: left;
}

.history-date {
    float: right;
}