.publication-list {
    margin-top: 1em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30em, 1fr));
    grid-gap: 1em;
    grid-auto-rows: 20em;
}

.ui.card:first-child {
    margin-top: 1em;
}

.ui.card:last-child {
    margin-bottom: 1em;
}

.add-publication {
    text-align: right;
    margin-top: -2.5em;
}
