.publication-list {
    margin-top: 1em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
    grid-gap: 1em;
    grid-auto-rows: 15em;
}

.ui.card:first-child {
    margin-top: 1em;
}

.ui.card:last-child {
    margin-bottom: 1em;
}
