.ranking {
    margin-top: 1em;
    display: grid;
    grid-template-columns: repeat(3, minmax(10em, 1fr));
    grid-gap: 1em;
}

.top-ranking {
    text-align: center;
}

.rest {
    margin-top: 1em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
    grid-gap: 1em;
}

.ranking-container{
    width: 100%;
    height: 100%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.ranking-list {
    margin-top: 1em;
    width: 60%;
}