.publication-details-container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}

.publication-details {
    width: 60%;
}

.publication-feedbacks-container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}

.publication-feedbacks {
    width: 60%;
}

.feedback-form {
    width: 40%;
    position: fixed;
    right: 1em;
    bottom: 1em;
    z-index: 100;
    background-color: white;
    border: 2px solid black;
    border-radius: 1em;
}

.create-form {
    width: 93%;
    margin-left: 1.5em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    margin-right: 1.5em;
}

.feedback-card {
    margin-bottom: 1em;
}

.rating {
    color: yellow;
}

.star {
    cursor: pointer;
}

.loading {
    margin-left: 50%;
    margin-top: 40%;
}

.file-preview {
    width: 14em;
    height: 15em;
    margin-left: 1.5em;
    margin-bottom: 1em;
}

.file-pdf {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: hidden;
}

.file-info {
    height: 9em;
    overflow: hidden;
}

.file-download {
    margin-bottom: -1em;
}

.user-tag {
    text-align: right;
}

.add-feedback {
    text-align: right;
}
.publication-title {
    float: left;
}

.publication-report{
    float: right;
    color: red;
    cursor: pointer;
}

.created {
    position: fixed;
    bottom: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.submit-button {
    margin-right: 1em;
}