.publications-container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.publications-header-container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.publication-header {
    margin-top: 1em;
    width: 60%;
}

.publication-list {
    width: 60%;
    margin-top: 1em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30em, 1fr));
    grid-gap: 1em;
    grid-auto-rows: 20em;
}

.ui.card:first-child {
    margin-top: 1em;
}

.ui.card:last-child {
    margin-bottom: 1em;
}

.add-publication {
    text-align: right;
    margin-top: -2.5em;
}

.pagination {
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
}

.publication-form {
    width: 40%;
    position: fixed;
    right: 1em;
    bottom: 1em;
    z-index: 100;
    background-color: white;
    border: 2px solid black;
    border-radius: 1em;
}

.publication-add {
    position: fixed;
    z-index: 100;
    bottom: 1em;
    right: 22%;
}

.add-button {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.publication-created {
    position: fixed;
    bottom: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.create-form {
    width: 93%;
    margin-left: 1.5em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    margin-right: 1.5em;
}

.tags {
    color: blue;
}

.tags-text {
    margin-left: 0.8em;
}

.render-tags {
    margin-right: 0.2em;
}

.publication-card {
    height: 100%;
}

.horizontal-menu {
    margin-top: 0.4em;
    overflow-x: hidden;
    pointer-events:fill;
}

.arrow-prev {
    cursor: pointer;
    float:left;
    margin-right: 1em;
}

.arrow-next {
    cursor: pointer;
    float:right;
}

.category {
    margin-right: 0.4em;
    cursor: pointer;
}
.categories {
    float: left;
    display: flex;
    overflow-x: hidden;
    width: 91%;
}

.posting {
    margin-right: 13em;
}

.submit-button {
    margin-right: 1em;
}