.category-admin {
    margin-top: 1em;
    cursor: pointer;
}

.parent-categories {
    float: left;
    width: 48%;
}

.parent-subcategories {
    float: right;
    width: 48%;
}

.add-category {
    margin-top: 1em;
}

.categories-names {
    margin-top: 1em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    grid-gap: 1em;
    text-align: center;
}

.subcategories-names {
    margin-top: 1em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    grid-gap: 1em;
    text-align: center;
}