.loading {
    margin-left: 50%;
    margin-top: 40%;
}

.file-preview {
    width: 15em;
    height: 15em;
    margin-left: 1em;
    margin-bottom: 1em;
}

.file-pdf {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: hidden;
}