.profile-container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: center;
}

.profile {
    margin-top: 1em;
    width: 60%;
}

.profile-icon {
    margin-top: 1em;
    margin-right: 1em;
    float: left;
    text-align: center;
}

.profile-info {
    margin-top: 1em;
    float: left;
    width: 52%;
}
.change-password {
    margin-top: 1em;
}

.profile-submit {
    margin-right: 1em;
}

.profile-buttons {
    margin-top: 1em;
}

.profile-edit {
    margin-right: 1em;
}

.history-list {
    margin-top: 1em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30em, 1fr));
    grid-gap: 1em;
}

.history-type {
    float: left;
}

.history-date {
    float: right;
}

.favourites-list {
    margin-top: 1em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    grid-gap: 1em;
}

.fav-star {
    cursor: pointer;
    color: yellow;
}

.category-form {
    width: 40%;
    position: fixed;
    right: 1em;
    bottom: 1em;
    z-index: 100;
    background-color: white;
    border: 2px solid black;
    border-radius: 1em;
}

.create-form {
    width: 93%;
    margin-left: 1.5em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    margin-right: 1.5em;
}

.category-admin {
    margin-top: 1em;
    cursor: pointer;
}

.parent-categories {
    float: left;
    width: 48%;
}

.parent-subcategories {
    float: right;
    width: 48%;
}

.add-category {
    margin-top: 1em;
}

.categories-names {
    margin-top: 1em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    grid-gap: 1em;
    text-align: center;
}

.subcategories-names {
    margin-top: 1em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    grid-gap: 1em;
    text-align: center;
}

.suggestion-list {
    margin-top: 1em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
    grid-gap: 1em;
    grid-auto-rows: 15em;
}

.suggestion-right {
    float: right;
}

.suggestion-left {
    float: left;
}

.suggestion-create {
    margin-top: 2em;
}

.submit-category {
    margin-right: 1em;
}

.category-add {
    position: fixed;
    z-index: 100;
    bottom: 1em;
    right: 22%;
}

.add-button {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}